menu "User Configuration"

  menu "Wifi STA Configuration"
    comment "STA Mode Configuration"

    config ESP_WIFI_AP_SSID
      string "Wifi STA SSID"
      default "otherapssid"
      help
        SSID (network name) for STA to connect to.

    config ESP_WIFI_AP_PASSWD
      string "Wifi AP password"
      default "otherappasswd"
      help
        Wifi SSID (network name) password.

    config ESP_MAXIMUM_RETRY
      int "Maximum retry"
      default 5
      help
        Set maximum retry value to prevent the station to continuously
        attempting to reconnect to the access point (AP) when the AP doesn't
        exist.

    choice ESP_WIFI_SCAN_AUTH_MODE_THRESHOLD
      prompt "Wifi scan auth mode threshold"
      default ESP_WIFI_AUTH_WPA2_PSK
      help
        The weakest authmode to accept in the scan mode. This value defaults
        to ESP_WIFI_AUTH_WPA2_PSK in case password is present and
        ESP_WIFI_AUTH_OPEN is used. Please select
        ESP_WIFI_AUTH_WEP / ESP_WIFI_AUTH_WPA_PSK in case AP is operating in
        WEP / WPA mode.

      config ESP_WIFI_AUTH_OPEN
        bool "OPEN"
      config ESP_WIFI_AUTH_WEP
        bool "WEP"
      config ESP_WIFI_AUTH_WPA_PSK
        bool "WPA PSK"
      config ESP_WIFI_AUTH_WPA2_PSK
        bool "WPA2 PSK"
      config ESP_WIFI_AUTH_WPA_WPA2_PSK
        bool "WPA/WPA2 PSK"
      config ESP_WIFI_AUTH_WPA3_PSK
        bool "WPA3 PSK"
      config ESP_WIFI_AUTH_WPA2_WPA3_PSK
        bool "WPA2/WPA3 PSK"
      config ESP_WIFI_AUTH_WAPI_PSK
        bool "WAPI PSK"
    endchoice

  endmenu

  menu "ESP MQTT Configuration"
    comment "MQTT Configuration"

    config BROKER_URL
      string "Broker URL"
      help
        URL of the broker to connect.

  endmenu
endmenu
